---
import agrologisticsLogo from "../assets/agrologistics-logo.webp";
---

<!-- Contenedor principal -->
<div
	class="flex flex-col items-center justify-center min-h-screen py-6"
>
	<!-- Logo -->
	<div class="mb-6">
		<img
			src={agrologisticsLogo.src}
			alt="Logo del Sistema"
			class="h-28 w-auto"
		/>
	</div>

	<!-- Título -->
	<h1 class="text-4xl font-bold text-yellow-600 mb-4">
		Bienvenido al Manual de Usuario
	</h1>

	<!-- Descripción -->
	<p class="text-lg text-gray-700 text-center mb-6">
		Este manual te guiará a través de las funcionalidades del sistema web.
		Aquí encontrarás toda la información necesaria para utilizarlo de manera
		efectiva.
	</p>

	<!-- Sección de características -->
	<div class="mt-10 max-w-xl text-center">
		<h2 class="text-2xl font-semibold text-green-600 mb-4">
			Características del Sistema
		</h2>
		<ul class="list-disc list-inside text-left text-gray-600">
			<li>Interfaz intuitiva y fácil de usar.</li>
			<li>Acceso a reportes en tiempo real.</li>
			<li>Soporte técnico 24/7.</li>
			<li>Actualizaciones automáticas del sistema.</li>
		</ul>
	</div>
</div>

